/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  margin: auto;
  width: 60%;
  padding: 10px;
  border: solid 30px pink;
  background-color: #ffffff;
}

/* grey left bubble */
.text-left {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: darkgray;
  color: white;
  font-family: sans-serif;
  float: left;
  clear: both;
}

/* blue right bubble */
.text-right {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: blue;
  color: white;
  font-family: sans-serif;
  float: right;
  clear: both;
}

.make-convo {
  background-color: lavender;
  border-radius: 5 px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
}